.address {
}

.address .select-wrapper {
  width: 240px;
  border: none;
  background: white;
  overflow: hidden;
  border-bottom: solid 1px #ddd;
}

.address select {
  background: transparent;
  -webkit-appearance: none;
  border: none;
  padding: 5px;
  width: 240px;
  color: #385fd8;
}

.address .select-wrapper.province {
  background: url('../img/province-dropdown@2x.png') no-repeat right white;
  background-size: 76px 34.5px;
}

.address .select-wrapper.city {
  background: url('../img/city-dropdown@2x.png') no-repeat right white;
  background-size: 76px 34.5px;
}

.address .select-wrapper.district {
  background: url('../img/district-dropdown@2x.png') no-repeat right white;
  background-size: 76px 34.5px;
}
