.contact {
  text-align: center;
}

.personal-info {
  margin: auto;
  width: 240px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px #ddd;
  -moz-box-shadow: 0 0 8px #ddd;
  -webkit-box-shadow: 0 0 8px #ddd;
  background-color: #fff;
  text-align: left;
}

.contact .control {
  width: 100%;
  color: #999;
  margin: 10px 0;
}

.contact .control p {
  line-height: 1.5em;
}

.personal-info input {
  border-radius: 3px;
  width: 230px;
  height: 35px;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #999999;
  color: #395fd9;
}

.personal-info input:focus {
  border-radius: 3px;
  box-shadow: 0 0 8px #7898ff;
  -moz-box-shadow: 0 0 8px #7898ff;
  -webkit-box-shadow: 0 0 8px #7898ff;
  border: 1px solid #395fd9;
}

.address {
  width: 240px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0 0 8px #ddd;
  -moz-box-shadow: 0 0 8px #ddd;
  -webkit-box-shadow: 0 0 8px #ddd;
  background-color: #fff;
}

.address .button {
  border-radius: 3px;
  background-color: #395fd9;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 5px 0;
  margin-top: 20px;
  cursor: pointer;
}
