.post-detail {
  position: relative;
  width: 246px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  margin: 75px auto;
}

.post-detail span {
  vertical-align: middle;
}

.post-detail p {
  margin: 0;
}

.post-detail .border {
  position: absolute;
  background-color: #f2f2f2;
}

.post-detail .border.top {
  width: 279px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url('../img/post-top@2x.png');
  background-size: 279px 16px;
}
.post-detail .border.left {
  width: 16px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/post-left@2x.png');
  background-size: 16px 1px;
  background-repeat: repeat-y;
}
.post-detail .border.right {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url('../img/post-right@2x.png');
  background-size: 16px 1px;
  background-repeat: repeat-y;
}
.post-detail .border.bottom {
  width: 279px;
  height: 16px;
  bottom: 0;
  left: 0;
  background-image: url('../img/post-bottom@2x.png');
  background-size: 279px 16px;
}

.post-detail .small-icon {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.post-detail .section {
  padding: 15px 0;
  border-top: #eee 1px solid;
}

.post-detail .section-title {
  font-weight: bolder;
  color: #4c4c4c;
  font-size: 1.1em;
}

.post-detail .section-content {
  color: #4c4c4c;
}

.post-detail .title {
  text-align: center;
}

.post-detail .main-title {
  font-size: 1.5em;
  font-weight: bolder;
  color: #4c4c4c;
}

.post-detail .sub-title {
  font-size: 1.1em;
  color: #999;
}

.post-detail .post-image img {
  width: 258px;
}

.post-detail .desc img {
  width: 100%;
}

.post-detail .buy {
  color: #999;
}

.post-detail .buy a {
  color: #999;
  text-decoration: underline;
}

.post-detail .buy .operations {
  padding: 10px 0;
  text-align: right;
}

.post-detail .buy .button {
  font-size: 1.1em;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}

.post-detail .buy-selection {
  border: solid 1px #eee;
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}

.post-detail .buy-selection .selection-group {
  padding: 10px;
}

.buy-selection .selection-group .group-title {
  color: #666;
}

.buy-selection .selection-group .quantity {
  padding: 4px 6px;
  margin: 0;
  font-weight: bold;
  color: #385fd8;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.buy-selection .selection-group .quantity.selected {
  color: white;
  background-color: #385fd8;
}

.buy-selection .button.add-to-cart {
  background-color: #385fd8;
  text-align: center;
  width: 65%;
  margin: 10px auto;
  padding: 4px 0;
  cursor: pointer;
}

.post-detail .buy-button {
  background-color: #47d480;
}

.post-detail .share-button {
  background-color: #6198e3;
}

.post-detail .spec li {
  list-style-type: disc;
  margin-left: 20px;
}
