.post-detail {
  width: 278px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow:0 0 8px #cccccc;
  -moz-box-shadow:0 0 8px #cccccc;
  margin: auto;
}

.post-detail span {
  vertical-align: middle;
}

.post-detail p {
  margin: 0;
}

.post-detail .small-icon {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.post-detail .section {
  padding: 15px 0;
  border-top: #eee 1px solid;
}

.post-detail .section-title {
  font-weight: bolder;
  color: #4c4c4c;
  font-size: 1.1em;
}

.post-detail .section-content {
  color: #4c4c4c;
}

.post-detail .title {
  text-align: center;
}

.post-detail .main-title {
  font-size: 1.5em;
  font-weight: bolder;
  color: #4c4c4c;
}

.post-detail .sub-title {
  font-size: 1.1em;
  color: #999;
}

.post-detail .post-image img {
  width: 278px;
}

.post-detail .buy {
  color: #999;
}

.post-detail .buy .operations {
  padding: 10px 0;
}

.post-detail .buy .button {
  font-size: 1.1em;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 20px;
  margin-right: 5px;
}

.post-detail .buy-button {
  background-color: #47d480;
}

.post-detail .share-button {
  background-color: #6198e3;
}

.post-detail .spec li {
  list-style-type: disc;
  margin-left: 20px;
}
