.topbar {
  height: 47px;
  width: 100%;
  background-image: url('../img/topbar-bg@2x.png');
  background-size: 1px 47px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000000;
}

.topbar-wrapper {
  width: 300px;
  margin: auto;
  padding: 0 10px;
  line-height: 47px;
}

.topbar a {
  color: #666;
}

.topbar .logo img {
  width: 55px;
  height: 15px;
  vertical-align: text-bottom;
}

.topbar .logo img.back-image {
  width: 17px;
  height: 15px;
}

.topbar .cart {
  float: right;
}

.topbar .cart img {
  width: 17px;
  height: 15px;
  vertical-align: text-bottom;
}

.topbar .button-wrapper {
  float: right;
}

.topbar .button {
  color: white;
  background-color: #385fd8;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
