<div class="topbar">
  <div class="topbar-wrapper">
    <a class="logo address-back" href="">
      <img class="back-image" src="/img/back@2x.png" alt="" />
      <img src="/img/logo@2x.png" alt="" />
    </a>
    <div class="button-wrapper">
      <span class="button finish-contact">完成</span>
    </div>
  </div>
</div>

<div class="address">
  <div class="select-wrapper province">
    <select id="province-selection" name="">
    </select>
  </div>
  <div class="select-wrapper city">
    <select id="city-selection" name="">
    </select>
  </div>
  <div class="select-wrapper district">
    <select id="district-selection" name="">
    </select>
  </div>

  <div class="street">
    <p class="label">街道地址</p>
    <input type="text" />
  </div>
</div>
