<div class="topbar">
  <div class="topbar-wrapper">
    <a class="logo" href="/">
      <img class="back-image" src="/img/back@2x.png" alt="" />
      <img src="/img/logo@2x.png" alt="" />
    </a>
    <div class="button-wrapper">
      <span class="button edit-cart">编辑</span>
    </div>
  </div>
</div>

<div class="cart">
  <div class="entries">
  </div>
  
  <div class="summary">
    <span>节日期间 中美跨国 <strong>免运费</strong></span>
    <span class="amount"></span>
  </div>

  <div class="payment-button">
    支付
  </div>
</div>
