<div class="post-main">
  <div class="post-main-wrapper">
    <div class="image">
      <a href="/#posts/<%= id %>">
        <img src="<%= images[0] %>" alt="" />
      </a>
    </div>

    <% if (post_type === 'NORMAL') { %>
      <div class="normal-post-price">
        <% if (price_cn > 0) { %>
          <div class="cheap-badge">
            <p><%= delta %></p>
          </div>
        <% } %>
        <p class="price_us">
          <img src="/img/icon-us@2x.png" alt="" />
          ￥<%= price_us_in_RMB %>(含国际运费)
        </p>
        <% if (price_cn > 0) { %>
          <p class="price_cn">
            <img src="/img/icon-china@2x.png" alt="" />
            ￥<del><%= price_cn %></del> <%= price_ref[0].name %>价
          </p>
        <% } %>
      </div>
    <% } %>

    <div class="title">
      <%= title %>
    </div>

    <% if (post_type === 'NORMAL') { %>
      <div class="post-info normal">
    <% } else if (post_type === 'HOT') { %>
      <div class="post-info hot">
    <% } %>
        <span>
          <img src="/img/icon-view@2x.png" alt="" />
          <%= view_num %>
        </span>
        <span>
          <img src="/img/icon-shopped@2x.png" alt="" />
          <%= order_num %>
        </span>
      </div>
  </div>
  
  <div class="border left"></div>
  <div class="border right"></div>
  <div class="border top"></div>
  <div class="border bottom"></div>
</div>

<% if (post_type === 'HOT') { %>
  <div class="post-bar">
    <% if (price_cn > 0) { %>
      <div class="badge">
        <p>便宜</p>
        <p><%= delta %></p>
      </div>
    <% } %>
    <div class="prices">
      <p>
        <img src="/img/icon-us@2x.png" alt="" />
        ￥<%= price_us_in_RMB %>
      </p>
      <% if (price_cn > 0) { %>
        <p>
          <img src="/img/icon-china@2x.png" alt="" />
          ￥<del><%= price_cn %></del>
        </p>
      <% } %>
    </div>
    <div class="rob-button">
    </div>
  </div>
  <div class="post-triangle hot">
  </div>
<% } %>

<% if (post_type === 'NORMAL') { %>
  <div class="post-triangle cheap">
  </div>
<% } %>
